.red {
  color: #e84118;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: #2ecc71;
  font: inherit;
  color: #000;
  border: 0;
  padding: 8px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.Button:hover {
  background-color: #00d2d3;
  color: #000;
}

.Button.Red {
  background-color: #ff6b6b;
  color: #fff;
}

.Button.Red:hover {
  background-color: #ff9ff3;
  color: #000;
}